<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>401</title>
    <link rel="stylesheet" href="/styles/style.css" />
</head>

<body>
    <main>
        <h1>COMP4537 - C2P - AI-Powered Notebook</h1>
        <p> Sorry, this page is not accessible at this time.</p>
    </main>

    <button onclick="goBack()">Go Back</button>
    <!-- button that links to home page -->
    <button onclick="goHome()">Go Home</button>



    <script src="/js/utils.js"></script>
</body>
</html>