<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>

  <body>
    <div id="home-content">
      <h1>COMP4537 - C2P - AI-Powered Notebook</h1>
      <p>Welcome to the AI page</p>
      <main>
        <h3>Create a Page</h3>
        <form action="/createPage" method="POST">
          <label for="pageName"
            >Enter the page name for your context collection?</label
          >
          <br />
          <input
            type="text"
            name="pageName"
            placeholder="Enter the Page name"
            required
          />
          <br />
          <button type="submit">Create</button>
        </form>

        <h3>Upload context to a page</h3>
        <form action="/createContext" method="POST">
          <label for="contextPageName"
            >Enter the page name for this context:</label
          >
          <br />
          <input
            type="text"
            name="contextPageName"
            placeholder="Enter the Page name"
            required
          />
          <br />
          <br />
          <label for="context">Enter the context:</label>
          <br />
          <textarea
            type="text"
            name="context"
            placeholder="Enter the context"
            required
          ></textarea>
          <br />
          <button type="submit">Upload</button>
        </form>

        <h3>Let's ask some question to our AI on your context</h3>
        <form action="/askBot" method="POST">
          <label for="questionPageName"
            >Enter the page name for your context:</label
          >
          <br />
          <input
            type="text"
            name="questionPageName"
            placeholder="Enter the Page name"
            required
          />
          <br />
          <br />
          <label for="question">Enter the question:</label>
          <br />
          <input
            type="text"
            name="question"
            placeholder="Enter the question"
            required
          />
          <br />
          <button type="submit">Ask</button>
        </form>
        <div id="answers"></div>
      </main>
      <br />
      <form action="/logout" method="POST">
        <button type="submit">Logout</button>
      </form>
    </div>

    <script src="/js/utils.js"></script>
  </body>
</html>
