<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/style.css" />
</head>

<body>

    <div id="home-content">
        <h1>COMP4537 - C2P - AI-Powered Notebook</h1>
        <p>Welcome to the AI page</p>
        <main>
            Content here
        </main>
        <form action="/logout" method="POST">
            <button type="submit">Logout</button>
        </form>

    </div>


    <script src="/js/utils.js"></script>
</body>

</html>