<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>

  <body>
    <div id="home-content">
      <header class="add-margin-bottom-20">
        <h1>COMP4537 - C2P - AI-Powered Notebook</h1>
        <h2 class="remove-margin-bottom">Home Page - Authenticated</h2>
        <code style="color: red">For authenticated users</code>
      </header>
      <main class="add-margin-bottom-20">
        <ul>
          <li><a href="/user">View your API usage</a></li>
          <li><a href="/ai">Use our powerful AI</a></li>
        </ul>
      </main>
      <form action="/logout" method="POST">
        <button type="submit">Logout</button>
      </form>
    </div>

    <script src="/js/utils.js"></script>
  </body>
</html>
