<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
    <link rel="stylesheet" href="/styles/style.css" />
</head>
<body>
    <h1>COMP4537 - C2P - AI-Powered Notebook</h1>
    <main>
        <div class="container">
            <div id="userInfo">
                <p>Email: <span id="userEmail"></span></p>
                <p>API Calls Remaining: <span id="apiCallsRemaining"></span></p>
                <div id="warningMessage"></div>
            </div>
        </div>
    </main>
    <form action="/logout" method="POST">
        <button type="submit">Logout</button>
    </form>

    <script src="/js/utils.js"></script>
</body>
</html>
